//This SCSS file contains styles for the About page

@import "partials/mixins";
@import "partials/functions";
@import "partials/fonts";
@import "partials/colors";

// General Styles

body {
    font-family: $fontFamily;
}

// Navbar Styles

.navbar {
    @include container-margin;
    background-color: $backgroundColor1;
}

.monokuma-logo {
    width: rem(50px);
    height: auto;
}

// About Styles

.about, .quotes {
    @include container-full-margin;
    font-size: rem(20px);
    text-align: center;
}

// Quote styles

.blockquote {
    margin: 2% 30%;
    padding: 5%;
    border-radius: 5%;
    background-color: $backgroundColor4;
    color: $textColor1;
    position: relative;
}

.blockquote-footer {
    color: $textColor1;
}

.quotes {
    height: 200px;
};

